workflows/Alerta de usuario.json
{"createdAt":"2024-07-21T04:33:43.078Z","updatedAt":"2024-08-22T22:12:59.000Z","id":"xwFP2xLKxwZsy0Lp","name":"Alerta de usuario","active":true,"nodes":[{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"2ca1d87c-f2ea-4531-bbb7-d18bdf4464cd","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1380,380],"webhookId":"0a29029a-79cb-4bc9-b137-a6c050e2fe49"},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"5c582560-f27a-46f0-8ffa-c751f1153ab5","name":"Split In Batches2","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[960,400]},{"parameters":{"values":{"string":[{"name":"=novodados","value":"={{ $('Webhook1').item.json[\"body\"][\"numeros\"].split(\"\\n\") }}"},{"name":"apikey","value":"={{ $json.body.apikey }}"},{"name":"urlapi","value":"={{ $json.body.urlapi }}"},{"name":"estancia","value":"={{ $json.body.estancia }}"},{"name":"tipodeenvio","value":"={{ $json.body.tipodeenvio }}"},{"name":"tipodearquivo","value":"={{ $json.body.tipodearquivo }}"}]},"options":{}},"id":"5e19d5ec-3ec7-41dd-9c20-182cae3c43eb","name":"Info Base","type":"n8n-nodes-base.set","typeVersion":1,"position":[320,540]},{"parameters":{"fieldToSplitOut":"novodados","options":{}},"id":"8a4fdae9-708f-4b69-9d92-1a31df9b7114","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[760,400]},{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"1dfb2a99-3635-4c83-8f01-7cfc5ae5e1ea","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1380,640],"webhookId":"5c9e0cb8-1c0e-4129-b3d9-89e7c97b6e6b"},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"f6065978-5428-4d2b-a6c3-3abfab15c52b","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[980,660]},{"parameters":{"fieldToSplitOut":"novodados","options":{}},"id":"f8cf8d52-440f-4a1d-a496-65cf46d857d3","name":"Item Lists1","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[740,660]},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendText/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Split In Batches2').item.json[\"novodados\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $('Webhook1').item.json[\"body\"][\"mensgaem\"] }}\"\n    }\n}","options":{}},"id":"e626d18f-a2a4-4c3b-951c-0e47839662fa","name":"envio texto","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1180,380],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendMedia/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Split In Batches').item.json[\"novodados\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\"\n    },\n    \"mediaMessage\": {\n        \"mediatype\": \"{{ $('Webhook1').item.json[\"body\"][\"tipodearquivo\"] }}\",\n        \"caption\": \"{{ $('Webhook1').item.json[\"body\"][\"mensgaem\"] }}\",\n        \"media\": \"{{ $('Webhook1').item.json[\"body\"][\"arquivo\"] }}\"\n    }\n}","options":{}},"id":"73dc84df-aee9-4c1c-8b21-80c2ff7d7ae9","name":"envio media","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1180,640],"continueOnFail":true},{"parameters":{"dataType":"string","value1":"={{ $json.body.tipodeenvio }}","rules":{"rules":[{"value2":"texto"},{"value2":"media","output":1}]}},"id":"2ad3f939-e9f3-4113-a5ad-d2e40a0af293","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[520,540]},{"parameters":{"httpMethod":"POST","path":"34b36796-3f7b-48a7-9e6f-27b9a1d57ed2","options":{}},"id":"e3efdd61-1fb5-47a1-aa64-b76231428d77","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[100,540],"webhookId":"34b36796-3f7b-48a7-9e6f-27b9a1d57ed2"}],"connections":{"Wait":{"main":[[{"node":"Split In Batches2","type":"main","index":0}]]},"Split In Batches2":{"main":[[{"node":"envio texto","type":"main","index":0}]]},"Info Base":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Split In Batches2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"envio media","type":"main","index":0}]]},"Item Lists1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"envio texto":{"main":[[{"node":"Wait","type":"main","index":0}]]},"envio media":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Item Lists","type":"main","index":0}],[{"node":"Item Lists1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Info Base","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"734c640e-73b8-4c71-a3ee-998ad0c882e0","triggerCount":1,"tags":[]}