workflows/Backup.json
{"createdAt":"2024-10-19T19:11:30.648Z","updatedAt":"2024-12-04T21:35:15.000Z","id":"EPh2Aw2kxqjTLb1s","name":"Backup","active":true,"nodes":[{"parameters":{"content":"MOVE CURRENT BACKUPS TO OLD FOLDER","height":248.06218763804304,"width":982.895112064014,"color":4},"id":"c8739e4b-816e-4d8b-af72-f491c6b76ca0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2306.4636782718453,344.6146058283007],"typeVersion":1},{"parameters":{"content":"PURGE BACKUPS OLDER THEN 30 DAYS\n","height":188.38611225559103,"width":980.8812626356395},"id":"ff266977-8d32-402f-8dc7-4a4109c9a6d8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2306.9000175440465,907.6000701761866],"typeVersion":1},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name }}-{{ $json.active === false ? 'inactive' : $json.active === true ? 'active' : 'unknown' }}","useRawData":true}},"name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","position":[2580,700],"typeVersion":1,"id":"cff9eb82-0d8e-4b5c-9ead-4c6546984edd"},{"parameters":{"content":"## get Google Drive folders","height":755.833854865218,"width":1003.460056384994,"color":2},"id":"2a0df7b5-9570-4820-a445-3324b8abc0d4","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[830.9644343238933,340]},{"parameters":{"content":"## Ignore any other folders other than: n8n_backups\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n    (it is important that you created this folder)","height":753.2799109651138,"width":427.1093081837156,"color":6},"id":"b484bee6-10b9-4fe8-971e-474137998bd5","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1865.527396209376,340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98415e9e-5354-4223-9107-ef3ade30c2f0","leftValue":"={{ $node[\"GET CURRENT FOLDER\"].json.name }}","rightValue":"n8n_backups","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"14c44439-18f3-4872-8554-9c9eafe8ef93","name":"IGNORE FILES","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2020,460]},{"parameters":{"resource":"folder","name":"n8n_backups","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"d0569be1-7787-45c2-90d0-0cc1341a086d","name":"Create n8n_backups","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1580,756.2171673095763],"credentials":{"googleDriveOAuth2Api":{"id":"Y7Yp6100s97gJGa8","name":"Google Drive Nuntius"}}},{"parameters":{"resource":"folder","name":"n8n_old","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"4b88fac1-cf07-45d7-b231-b6472b53acca","name":"Create n8n_old","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1580,916.2171673095763],"credentials":{"googleDriveOAuth2Api":{"id":"Y7Yp6100s97gJGa8","name":"Google Drive Nuntius"}}},{"parameters":{"content":"## Contact me \n**By Mail**. [Send Mail](mailto:nuntius.creative.hub@gmail.com)","height":105.6805438265643,"width":355.73762189847923,"color":6},"id":"38ea98d0-118a-443a-858e-a7c297630cb7","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,960]},{"parameters":{"content":"## Since the folder does not exist, it creates a new one.\nn8n_backups\nn8n_old","height":451.756147757587,"width":327.6965514381564,"color":5},"id":"71b62a00-f676-42b5-99cf-33a8973c12b3","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1472.3103992657175,636.2171673095763]},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"whatToSearch":"folders"},"options":{}},"id":"46eb90c9-2f0a-4acd-8353-f143f3f007b9","name":"GET CURRENT FOLDER","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[900,660],"alwaysOutputData":true,"notesInFlow":true,"executeOnce":true,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"Y7Yp6100s97gJGa8","name":"Google Drive Nuntius"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nconst requiredNames = [\"n8n_old\", \"n8n_backups\"];\n\n// Filtrar los nombres de la entrada\nconst folderNames = items.map(item => item.json.name);\n\n// Encontrar los nombres que faltan\nconst missingNames = requiredNames.filter(name => !folderNames.includes(name));\n\nif (missingNames.length === 0) {\n  return [{ json: { message: \"ok\" } }];\n} else {\n  return [{ json: { message: `Faltan los siguientes: ${missingNames.join(', ')}` } }];\n}\n"},"id":"eb1bc06e-0975-42ef-82d8-3678abc4d574","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,660]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43bd468e-1018-4b45-9448-c51835ed65bc","leftValue":"={{ $json.message }}","rightValue":"n8n_old","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"b5222a62-d599-43e1-bb94-d5094fe7f4f1","name":"If n8n_old","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,780]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43bd468e-1018-4b45-9448-c51835ed65bc","leftValue":"={{ $json.message }}","rightValue":"n8n_backups","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"8df316a8-67d7-43ec-845f-9abf3d7eb3f7","name":"If1 n8n_backups","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,540]},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"whatToSearch":"folders"},"options":{}},"id":"d9919ad0-d801-4c40-8bb9-0a90b1d611d9","name":"GET CURRENT FOLDER CREATES","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1680,460],"alwaysOutputData":true,"notesInFlow":true,"executeOnce":true,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"Y7Yp6100s97gJGa8","name":"Google Drive Nuntius"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"338e3fa1-a423-4eec-9d43-0a7ab67893a7","name":"Merge mensage","type":"n8n-nodes-base.merge","position":[1500,460],"typeVersion":2.1},{"parameters":{"resource":"fileFolder","queryString":".json","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1ZwT37QsrdxpdP0yp9yJLka-TSIIuxruu","mode":"list","cachedResultName":"n8n_backups","cachedResultUrl":"https://drive.google.com/drive/folders/1ZwT37QsrdxpdP0yp9yJLka-TSIIuxruu"}},"options":{"fields":["name","id"]}},"id":"f3601ae0-4386-464e-b295-a610955a769e","name":"GET CURRENT BACKUPS1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2380,420],"credentials":{"googleDriveOAuth2Api":{"id":"Y7Yp6100s97gJGa8","name":"Google Drive Nuntius"}}},{"parameters":{"rule":{"interval":[{}]}},"id":"726faff1-b66c-4e0a-8b84-5070eda59c31","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[900,460],"typeVersion":1.1},{"parameters":{"content":"## Does a folder exist?, if it does not exist it creates it","height":542.95115693689,"width":203.08765089203305,"color":7},"id":"9a2d5c60-d653-47d9-a8f5-9e223023ef5d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1216.912349107967,380]},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1UcusrWKnbFl3cJYIjaDdp1VCgreg2oeV","mode":"list","cachedResultName":"n8n_old","cachedResultUrl":"https://drive.google.com/drive/folders/1UcusrWKnbFl3cJYIjaDdp1VCgreg2oeV"}},"id":"d594bb9d-1181-45f7-be81-a1f6ba18301f","name":"MOVE INTO OLD FOLDER","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3060,400],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"Y7Yp6100s97gJGa8","name":"Google Drive Nuntius"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"daysInterval":30}]}},"id":"94361cac-c88e-4123-b7cc-078e1fe4498f","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","position":[2340,940],"typeVersion":1.1},{"parameters":{"authentication":"oAuth2","binaryData":true,"name":"={{ $('Split In Batches').item.binary.data.fileName }}-{{ $node[\"n8n\"].json[\"updatedAt\"] }}.json\n\n","parents":["={{ $('IGNORE FILES').item.json.id }}"],"options":{}},"name":"UPLOAD WORKFLOWS","type":"n8n-nodes-base.googleDrive","position":[3060,680],"typeVersion":1,"id":"71d26bde-8f7d-43b5-ad47-88ac6e2e2214","credentials":{"googleDriveOAuth2Api":{"id":"Y7Yp6100s97gJGa8","name":"Google Drive Nuntius"}}},{"parameters":{"content":"## Description\nThis template creates a nightly backup of all n8n workflows and saves them to a Google Drive folder. Each night, the previous night's backups are moved to an “n8n_old” folder and renamed with the corresponding date.\n\nBackups older than a specified age are automatically deleted (this feature is active for 30 days, you can remove it if you don't want the backups to be deleted).\n\n## Prerequisites\n\n- Google Drive account and credentials **Get** from the following link. [Link](https://console.cloud.google.com/apis/credentials/oauthclient/)\n- n8n version 1.63.4 or higher\n- N8n api key **Guide** from the following link. [Link](https://witmovil.com/where-to-create-the-api-key-in-n8n/)\n- A destination folder for backups:\n“n8n_old”\n“n8n_backups”\n(if it doesn't exist, create it)\n\n## Configuration\nUpdate all Google Drive nodes with your credentials.\nEdit the Schedule Trigger node with the desired time to run the backup.\nIf you want to automatically purge old backups.\n\nEdit the “PURGE DAYS” node to specify the age of the backups you want to delete.\nEnable the “PURGE DAYS” node and the 3 subsequent nodes.\nEnable the workflow to run on the specified schedule.","height":759.2757638563562,"width":397.07512898799075,"color":3},"id":"19a7091f-ce04-430b-9a7e-274956d7ea64","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,340]},{"parameters":{"fieldToSplitOut":"id","options":{}},"id":"4fcc9c4a-2a94-4ad8-a27c-e555f73b2163","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[2580,420]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"644e2f46-62d4-4d10-95ae-798523de6e13","name":"Split In Batches2","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2800,420]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"4dbd7df8-b717-40b7-8358-b5478f611269","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2800,700]},{"parameters":{"returnAll":false,"filters":{},"requestOptions":{}},"id":"1db2d8d6-1f60-400f-8465-eb47903251e6","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2380,700],"credentials":{"n8nApi":{"id":"cYbTgH3gULzTLxED","name":"n8n account"}}},{"parameters":{"resource":"fileFolder","queryString":".json","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1UcusrWKnbFl3cJYIjaDdp1VCgreg2oeV","mode":"list","cachedResultName":"n8n_old","cachedResultUrl":"https://drive.google.com/drive/folders/1UcusrWKnbFl3cJYIjaDdp1VCgreg2oeV"}},"options":{"fields":["name","id"]}},"id":"39bd2b43-fbf9-47ce-815a-ca876413aea3","name":"LIST OLD BACKUPS","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2540,940],"credentials":{"googleDriveOAuth2Api":{"id":"Y7Yp6100s97gJGa8","name":"Google Drive Nuntius"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"deletePermanently":true}},"id":"3a93ed4f-f8d9-49d1-9d23-0092ac438374","name":"DELETE OLD BACKUP","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3140,920],"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"Y7Yp6100s97gJGa8","name":"Google Drive Nuntius"}},"onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"id","options":{}},"id":"c0238487-7f4f-4423-b57f-8bf81a19cd93","name":"Item Lists old","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[2740,940]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"d5e336de-8b70-4d61-86d1-938ed7f59b8c","name":"Split In Batches old","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2940,940]},{"parameters":{"content":"## Bug fixes: \n* Now it scans through each file to save, move or delete.\n* Added active/inactive tag to name to know how it is.\n* Fixed names and filters.\nSet limit to 100, but can be changed to n8n for more copies.\n* Now they save one by one so that the saving is more accurate.","height":232.84367238845454,"width":344.2988945561964,"color":3},"id":"1dcc6b66-4bd9-4905-9fde-a3444cce9dad","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1900,800]},{"parameters":{"content":"BACKUP ALL CURRENT WORKFLOWS limit 100 (Change)","height":267.23574473121596,"width":984.8018228465335,"color":5},"id":"40f89f1b-cc48-4742-adce-e276379cde6d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2307.7625197370526,621.8118426547078],"typeVersion":1}],"connections":{"Move Binary Data":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"IGNORE FILES":{"main":[[{"node":"GET CURRENT BACKUPS1","type":"main","index":0},{"node":"n8n","type":"main","index":0}]]},"Create n8n_backups":{"main":[[{"node":"GET CURRENT FOLDER","type":"main","index":0}]]},"Create n8n_old":{"main":[[{"node":"GET CURRENT FOLDER","type":"main","index":0}]]},"GET CURRENT FOLDER":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If n8n_old","type":"main","index":0},{"node":"If1 n8n_backups","type":"main","index":0}]]},"If n8n_old":{"main":[[{"node":"Create n8n_old","type":"main","index":0}],[{"node":"Merge mensage","type":"main","index":1}]]},"If1 n8n_backups":{"main":[[{"node":"Create n8n_backups","type":"main","index":0}],[{"node":"Merge mensage","type":"main","index":0}]]},"GET CURRENT FOLDER CREATES":{"main":[[{"node":"IGNORE FILES","type":"main","index":0}]]},"Merge mensage":{"main":[[{"node":"GET CURRENT FOLDER CREATES","type":"main","index":0}]]},"GET CURRENT BACKUPS1":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Split In Batches2","type":"main","index":0}]]},"Split In Batches2":{"main":[[{"node":"MOVE INTO OLD FOLDER","type":"main","index":0}]]},"MOVE INTO OLD FOLDER":{"main":[[{"node":"Split In Batches2","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"UPLOAD WORKFLOWS","type":"main","index":0}]]},"UPLOAD WORKFLOWS":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Move Binary Data","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"LIST OLD BACKUPS","type":"main","index":0}]]},"LIST OLD BACKUPS":{"main":[[{"node":"Item Lists old","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"GET CURRENT FOLDER","type":"main","index":0}]]},"DELETE OLD BACKUP":{"main":[[{"node":"Split In Batches old","type":"main","index":0}]]},"Item Lists old":{"main":[[{"node":"Split In Batches old","type":"main","index":0}]]},"Split In Batches old":{"main":[[{"node":"DELETE OLD BACKUP","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[354]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0e349675-cc36-4c58-810d-4da2acf8a4c6","triggerCount":2,"tags":[]}