workflows/Chatwoot Pausa Despausa.json
{"createdAt":"2024-07-22T21:36:53.741Z","updatedAt":"2024-07-25T16:30:36.000Z","id":"vkxdGYYLjwqOOcZi","name":"Chatwoot Pausa Despausa","active":false,"nodes":[{"parameters":{"values":{"string":[{"name":"statustypebot","value":"={{ $('Webhook').item.json[\"body\"][\"custom_attributes\"][\"status_typebot\"] }}"},{"name":"numerowhats","value":"={{ $('Webhook').item.json[\"body\"][\"identifier\"] }}"},{"name":"urlapievolution","value":"https://api.witmovil.com"},{"name":"keyevolution","value":"eov9qm2kf68707jgomdwzs"},{"name":"sessaoevolution","value":"Pruebas"}]},"options":{}},"id":"32e1de24-89d9-42b9-b1f1-2c366d83a533","name":"Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[20,600]},{"parameters":{"dataType":"string","value1":"={{ $('Webhook').item.json[\"body\"][\"custom_attributes\"][\"status_typebot\"] }}","rules":{"rules":[{"value2":"Desligado"},{"value2":"Ligado","output":1}]}},"id":"a5c176fb-76cf-49c9-aa98-4e3d4f80b4a7","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[200,600]},{"parameters":{"method":"POST","url":"={{ $('Info').item.json[\"urlapievolution\"] }}/typebot/changeStatus/{{ $('Info').item.json[\"sessaoevolution\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info').item.json[\"keyevolution\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"remoteJid\": \"{{ $('Info').item.json[\"numerowhats\"] }}\",\n    \"status\": \"paused\"\n}","options":{}},"id":"1cd0afe2-2db8-4bb1-a996-2d450b1641b2","name":"Pausa","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,460]},{"parameters":{"method":"POST","url":"={{ $('Info').item.json[\"urlapievolution\"] }}/typebot/changeStatus/{{ $('Info').item.json[\"sessaoevolution\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info').item.json[\"keyevolution\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"remoteJid\": \"{{ $('Info').item.json[\"numerowhats\"] }}\",\n    \"status\": \"closed\"\n}","options":{}},"id":"1c9f633f-43f6-46d7-b3cc-291164f1bc40","name":"Inicia","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,680]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.changed_attributes[1].custom_attributes }}","operation":"isNotEmpty"}]}},"id":"019ca952-7127-49e9-a5e7-629f27f9ebe1","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-200,620]},{"parameters":{"httpMethod":"POST","path":"ligaedesliga2","options":{}},"id":"7f6e7871-c690-4c29-9456-33aa13ab98a4","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-420,620],"webhookId":"4f380820-a763-4131-84c8-2944868f6219"}],"connections":{"Info":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Pausa","type":"main","index":0}],[{"node":"Inicia","type":"main","index":0}]]},"IF":{"main":[[{"node":"Info","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"20c050a9-db84-4b7c-a6e4-911147fe246b","triggerCount":1,"tags":[]}