workflows/Clasificar mensajes.json
{"createdAt":"2024-09-05T13:04:12.059Z","updatedAt":"2024-10-19T22:04:31.000Z","id":"KvIYoxNVaEHikF2r","name":"Clasificar mensajes","active":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.body.data.message.imageMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"75e288b7-f2e5-4371-aede-d68b9fbff332","leftValue":"={{ $json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3fbf7aa7-ff6a-4f57-b2c2-61c4d3d2c9c0","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b7866f49-0c5e-4472-884b-e0a9a036a6c7","leftValue":"={{ $json.body.data.message.documentMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"documento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9f634d29-cae3-4ba8-97fd-b9e15ae39a7e","leftValue":"={{ $json.body.data.message.videoMessage }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"}]},"options":{}},"id":"f16a380d-10c9-4d86-b637-1430e88d7791","name":"Tipo de mensaje","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-520,1940]},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","binaryPropertyName":"=data","options":{"fileName":"audio","mimeType":"=audio/mpeg; codecs=opus"}},"id":"7b4c9565-8ecf-4f9e-adb0-2415b8c9ee3f","name":"Convierte a mp3","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-20,1700]},{"parameters":{"method":"POST","url":"https://ai-mp3-audio-to-text1.p.rapidapi.com","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"ai-mp3-audio-to-text1.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"97a04ef683msh6dfe1082ad8fadbp10e42bjsn2d6728cd2ff6"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"audio_file","inputDataFieldName":"={{$binary.download}}"}]},"options":{}},"id":"dceffde0-fdff-427a-96be-6a4b3da5096b","name":"Voz a texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,1700]},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const binaryData = item.binary.data;\n  const fileName = binaryData.fileName || 'download';\n  const fileExtension = binaryData.fileExtension || 'bin';\n  const mimeType = binaryData.mimeType || 'application/octet-stream';\n\n  const binary = {\n    data: binaryData.data,\n    mimeType: mimeType,\n    fileName: `${fileName}.${fileExtension}`\n  };\n\n  item.binary.download = binary;\n}\n\nreturn $input.all();\n"},"id":"3a8b1484-dd52-410b-bd2b-536599f923fe","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,1700]},{"parameters":{"httpMethod":"POST","path":"audioatexto","options":{}},"id":"2d34d2cc-66a2-45a9-b278-22527653cbd6","name":"saber que escribieron","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-840,1960],"webhookId":"5792f53c-e5ec-4b43-ab55-d0bc5d627839"}],"connections":{"Tipo de mensaje":{"main":[[],[{"node":"Convierte a mp3","type":"main","index":0}]]},"Convierte a mp3":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Voz a texto","type":"main","index":0}]]},"saber que escribieron":{"main":[[{"node":"Tipo de mensaje","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b0713c7c-80a7-41c3-88ed-fb07406fb890","triggerCount":0,"tags":[]}