workflows/Crea Sección.json
{"createdAt":"2024-07-22T21:06:51.033Z","updatedAt":"2024-08-17T22:55:42.000Z","id":"IeWxUTIqWsGQZSLw","name":"Crea Sección","active":true,"nodes":[{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"nomedacaixa","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"content\"].match(/Nome caixa chatwoot: ([^\\s]+)/)[1];}}"},{"name":"urltypebot","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"content\"].match(/Url Typebot: ([^\\s]+)/)[1];}}"},{"name":"nomeprojetotypebot","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"content\"].match(/Nome projeto typebot: ([^\\s]+)/)[1];}}"},{"name":"palavradetermino","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"content\"].match(/Palavra de finalização typebto: ([^\\s]+)/)[1];}}"},{"name":"tokenchatwoot","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"content\"].match(/Token do Chatwoot: ([^\\s]+)/)[1];}}"},{"name":"statuscaixa","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"content\"].match(/Status da Caixa: ([^\\s]+)/)[1];}}"},{"name":"urlchatwoot","value":"https://demo.nuntius.dev"},{"name":"urlapievolution","value":"https://api.nuntius.dev"},{"name":"keyevolution","value":"Eu6z)M}aYI54^qf"}]},"options":{}},"id":"166f1220-d5aa-4c78-a16e-18bcdea754ef","name":"Info Base1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-20,600]},{"parameters":{"method":"POST","url":"={{ $('Info Base1').item.json[\"urlapievolution\"] }}/instance/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json[\"keyevolution\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"instanceName\": \"{{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"account_id\"] }}{{ $('Info Base1').item.json[\"nomedacaixa\"] }}\",\n    \"token\": \"\",\n    \"qrcode\": true,\n    \"chatwoot_account_id\": {{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"account_id\"] }},\n    \"chatwoot_token\": \"{{ $('Info Base1').item.json[\"tokenchatwoot\"] }}\",\n    \"chatwoot_url\": \"{{ $('Info Base1').item.json[\"urlchatwoot\"] }}\",\n    \"chatwoot_sign_msg\": true,\n    \"chatwoot_reopen_conversation\": true,\n    \"chatwoot_conversation_pending\": false\n} ","options":{}},"id":"91b59697-9389-4852-abe4-4e2580f1dbf1","name":"Cria sessão evolution chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,460]},{"parameters":{"method":"POST","url":"={{ $('Info Base1').item.json[\"urlapievolution\"] }}/typebot/set/{{ $('Cria sessão evolution chatwoot').item.json[\"chatwoot\"][\"name_inbox\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base1').item.json[\"keyevolution\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"enabled\": true,\n    \"url\": \"{{ $('Info Base1').item.json[\"urltypebot\"] }}\",\n    \"typebot\":  \"{{ $('Info Base1').item.json[\"nomeprojetotypebot\"] }}\",\n    \"expire\": 20,\n    \"keyword_finish\": \"{{ $('Info Base1').item.json[\"palavradetermino\"] }}\",\n    \"delay_message\": 1000,\n    \"unknown_message\": \"Mensagem não reconhecida\",\n    \"listening_from_me\": true\n}","options":{}},"id":"3d0eb62f-385d-4204-ba6d-ea242a39656a","name":"Seta Typebot","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[660,460]},{"parameters":{"method":"POST","url":"={{ $('Info Base1').item.json[\"urlapievolution\"] }}/typebot/set/{{ $('Puxa dados da caixa').item.json[\"name\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base1').item.json[\"keyevolution\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"enabled\": true,\n    \"url\": \"{{ $('Info Base1').item.json[\"urltypebot\"] }}\",\n    \"typebot\":  \"{{ $('Info Base1').item.json[\"nomeprojetotypebot\"] }}\",\n    \"expire\": 20,\n    \"keyword_finish\": \"{{ $('Info Base1').item.json[\"palavradetermino\"] }}\",\n    \"delay_message\": 1000,\n    \"unknown_message\": \"Mensagem não reconhecida\",\n    \"listening_from_me\": true\n}","options":{}},"id":"a1020117-ab62-449f-aa65-440afec3b769","name":"Seta Typebot1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[660,720]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Info Base1').item.json[\"statuscaixa\"] }}","value2":"Nova"}]}},"id":"c6d4a5da-0edb-4a85-84b4-65aabbe234ce","name":"Verifica caixa criada ou não","type":"n8n-nodes-base.if","typeVersion":1,"position":[200,600]},{"parameters":{"url":"={{ $('Info Base1').item.json[\"urlchatwoot\"] }}/api/v1/accounts/{{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"account_id\"] }}/inboxes/{{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"inbox_id\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Info Base1').item.json[\"tokenchatwoot\"] }}"}]},"options":{}},"id":"943a96b0-cdeb-4262-a324-7577b92e27ff","name":"Puxa dados da caixa","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,720]},{"parameters":{"httpMethod":"POST","path":"crearbot","options":{}},"id":"550b73a4-dc59-460a-ae8e-bca13a2dd985","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-240,600],"webhookId":"3910a633-045c-4337-bcee-193641e1463f"}],"connections":{"Info Base1":{"main":[[{"node":"Verifica caixa criada ou não","type":"main","index":0}]]},"Cria sessão evolution chatwoot":{"main":[[{"node":"Seta Typebot","type":"main","index":0}]]},"Verifica caixa criada ou não":{"main":[[{"node":"Cria sessão evolution chatwoot","type":"main","index":0}],[{"node":"Puxa dados da caixa","type":"main","index":0}]]},"Puxa dados da caixa":{"main":[[{"node":"Seta Typebot1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Info Base1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6d056206-c4f0-46db-beb3-510e9fce239c","triggerCount":1,"tags":[]}