workflows/Demo Pausa-Despausa.json
{"createdAt":"2024-08-10T21:44:45.021Z","updatedAt":"2024-08-31T00:59:45.000Z","id":"RWW1Cq4m7KiFKgQr","name":"Demo Pausa-Despausa","active":true,"nodes":[{"parameters":{"values":{"string":[{"name":"statustypebot","value":"={{ $('Webhook').item.json[\"body\"][\"custom_attributes\"][\"status_typebot\"] }}"},{"name":"numerowhats","value":"={{ $('Webhook').item.json[\"body\"][\"identifier\"] }}"},{"name":"urlapievolution","value":"https://evo.nuntius.dev"},{"name":"keyevolution","value":"BE9E306097A4-4B25-85F6-BC5B438B6D47"},{"name":"sessaoevolution","value":"Demo"}]},"options":{}},"id":"a356d95c-c14a-4070-9504-96f0367425a2","name":"Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[20,600]},{"parameters":{"dataType":"string","value1":"={{ $('Webhook').item.json[\"body\"][\"custom_attributes\"][\"status_typebot\"] }}","rules":{"rules":[{"value2":"Agente"},{"value2":"Bot","output":1}]}},"id":"fba6e729-1468-4e80-a55d-a253c453e88e","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[200,600]},{"parameters":{"method":"POST","url":"={{ $('Info').item.json[\"urlapievolution\"] }}/typebot/changeStatus/{{ $('Info').item.json[\"sessaoevolution\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info').item.json[\"keyevolution\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"remoteJid\": \"{{ $('Info').item.json[\"numerowhats\"] }}\",\n    \"status\": \"paused\"\n}","options":{}},"id":"9279971f-a40d-40a9-b9b7-29b7010a787e","name":"Pausa","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,460]},{"parameters":{"method":"POST","url":"={{ $('Info').item.json[\"urlapievolution\"] }}/typebot/changeStatus/{{ $('Info').item.json[\"sessaoevolution\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info').item.json[\"keyevolution\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"remoteJid\": \"{{ $('Info').item.json[\"numerowhats\"] }}\",\n    \"status\": \"opened\"\n}","options":{}},"id":"0c1b8884-14d7-4077-b136-b427393d38c8","name":"Inicia","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,680]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.changed_attributes[1].custom_attributes }}","operation":"isNotEmpty"}]}},"id":"d4a354c2-e0ad-4e5f-a35e-3cbd04379889","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-200,620]},{"parameters":{"httpMethod":"POST","path":"dadd3c6f-e85c-4222-93f2-4c6461799611","options":{}},"id":"139288db-812f-4b76-baa9-2970d52f4790","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-420,620],"webhookId":"dadd3c6f-e85c-4222-93f2-4c6461799611"}],"connections":{"Info":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Pausa","type":"main","index":0}],[{"node":"Inicia","type":"main","index":0}]]},"IF":{"main":[[{"node":"Info","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a8298f78-47ca-479a-8678-dc281a6496d1","triggerCount":1,"tags":[]}