workflows/envio masivo.json
{"createdAt":"2024-07-18T20:35:39.666Z","updatedAt":"2024-09-21T15:54:10.000Z","id":"lLkaOlsnETRcLqVQ","name":"envio masivo","active":true,"nodes":[{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"226dff9a-43c2-45cb-bd8d-b0a65dd82166","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1380,380],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"2c0370e4-13ce-405e-b5fe-9f88503d4f8b","name":"Split In Batches2","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[960,400]},{"parameters":{"values":{"string":[{"name":"=novodados","value":"={{ $('Webhook1').item.json[\"body\"][\"numeros\"].split(\"\\n\") }}"},{"name":"apikey","value":"={{ $json.body.apikey }}"},{"name":"urlapi","value":"={{ $json.body.urlapi }}"},{"name":"estancia","value":"={{ $json.body.estancia }}"},{"name":"tipodeenvio","value":"={{ $json.body.tipodeenvio }}"},{"name":"tipodearquivo","value":"={{ $json.body.tipodearquivo }}"}]},"options":{}},"id":"e2af554f-6c2b-46b5-a99b-bcdb788cb078","name":"Info Base","type":"n8n-nodes-base.set","typeVersion":1,"position":[320,540]},{"parameters":{"fieldToSplitOut":"novodados","options":{}},"id":"bacb7db3-4bc1-4060-9553-a89d39bcbcc7","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[760,400]},{"parameters":{"amount":"={{ $('Webhook1').item.json[\"body\"][\"espera\"] }}","unit":"seconds"},"id":"4ee18074-7e1a-4247-a0b5-ae971e25671b","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1380,640],"webhookId":"5b324f7c-89fa-4770-a8e4-02fccf078f32"},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"6d118078-0d8e-4ae6-86f8-e31c366120e7","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[980,660]},{"parameters":{"fieldToSplitOut":"novodados","options":{}},"id":"0379747e-715d-4709-bd10-e621266ab172","name":"Item Lists1","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[740,660]},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendText/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Split In Batches2').item.json[\"novodados\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $('Webhook1').item.json[\"body\"][\"mensgaem\"] }}\"\n    }\n}","options":{}},"id":"11c36b9e-28cb-4089-8b11-c61739e8da7e","name":"envio texto","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1180,380],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"urlapi\"] }}/message/sendMedia/{{ $('Info Base').item.json[\"estancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"apikey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Split In Batches').item.json[\"novodados\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\"\n    },\n    \"mediaMessage\": {\n        \"mediatype\": \"{{ $('Webhook1').item.json[\"body\"][\"tipodearquivo\"] }}\",\n        \"caption\": \"{{ $('Webhook1').item.json[\"body\"][\"mensgaem\"] }}\",\n        \"media\": \"{{ $('Webhook1').item.json[\"body\"][\"arquivo\"] }}\"\n    }\n}","options":{}},"id":"49c0b894-0c87-4b0e-b328-192ada0bcfe0","name":"envio media","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1180,640],"continueOnFail":true},{"parameters":{"dataType":"string","value1":"={{ $json.body.tipodeenvio }}","rules":{"rules":[{"value2":"texto"},{"value2":"media","output":1}]}},"id":"94ef4320-81a5-45b9-a6d3-86558e4b9183","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[520,540]},{"parameters":{"httpMethod":"POST","path":"disparoemmassatrypebot","options":{}},"id":"67c6f20d-b159-4404-9f7b-bf44b6614628","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[100,540],"webhookId":"5792f53c-e5ec-4b43-ab55-d0bc5d627839"}],"connections":{"Wait":{"main":[[{"node":"Split In Batches2","type":"main","index":0}]]},"Split In Batches2":{"main":[[{"node":"envio texto","type":"main","index":0}]]},"Info Base":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Split In Batches2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"envio media","type":"main","index":0}]]},"Item Lists1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"envio texto":{"main":[[{"node":"Wait","type":"main","index":0}]]},"envio media":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Item Lists","type":"main","index":0}],[{"node":"Item Lists1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Info Base","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8313a751-8088-444e-92de-eab1ea9d9f27","triggerCount":1,"tags":[]}