workflows/My workflow 2.json
{"createdAt":"2024-09-05T13:59:38.223Z","updatedAt":"2024-09-05T14:04:05.000Z","id":"S18htSymPAhOQGVJ","name":"My workflow 2","active":false,"nodes":[{"parameters":{},"id":"ceff3f1a-6249-40d8-80bf-828c8104392f","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[460,460]},{"parameters":{"method":"POST","url":"={{ $node[\"PARAMETROS CODECHAT\"].json.urlBase }}/instance/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={  \"instanceName\": \"{{ $node[\"PARAMETROS CODECHAT\"].json[\"instanceName\"] }}\"}","options":{}},"id":"96920e88-d22d-42ab-bbee-79a460454cca","name":"CRIAR INSTANCIA","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[860,460]},{"parameters":{"url":"={{ $node[\"PARAMETROS CODECHAT\"].json.urlBase }}/instance/connect/{{ $node[\"PARAMETROS CODECHAT\"].json[\"instanceName\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"CRIAR INSTANCIA\"].json[\"hash\"][\"jwt\"] }}"}]},"options":{}},"id":"a13646a4-0f9f-4219-a680-f691b75aa66c","name":"CRIAR QR CODE","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1060,460]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"base64","value":"={{ $json.base64.slice(22) }}"}]},"options":{}},"id":"0b77eeb5-72d0-48fb-9d58-fddf66232205","name":"CONFIGURA QR CODE","type":"n8n-nodes-base.set","typeVersion":1,"position":[1280,460]},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"base64","options":{"dataIsBase64":true,"mimeType":"image/png"}},"id":"de19f73b-8e24-4a87-8d66-15a797c45210","name":"TRANSFORMA EM IMAGEM","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1500,460]},{"parameters":{"method":"POST","url":"={{ $node[\"PARAMETROS CODECHAT\"].json.urlBase }}/message/sendButtons/CodeChat-Nuntius","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.Auth.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"573155054606\",\n  \"options\": {\n    \"delay\": 1200\n  },\n  \"buttonMessage\": {\n    \"title\": \"ASTRA ONLINE BOTÕES NO WHATSAPP\",\n    \"description\": \"Aproveite nosso conteudo exclusivo\",\n    \"footerText\": \"Raphael Popiolek\",\n    \"buttons\": [\n      {\n        \"buttonText\": \"ASSISTIR VÍDEO\",\n        \"buttonId\": \"0\"\n      },\n      {\n        \"buttonText\": \"INSCREVA-SE\",\n        \"buttonId\": \"1\"\n      },\n      {\n        \"buttonText\": \"DA LIKE\",\n        \"buttonId\": \"2\"\n      },\n      {\n        \"buttonText\": \"COMPARTILHAR\",\n        \"buttonId\": \"3\"\n      }\n    ],\n    \"mediaMessage\": {\n      \"mediatype\": \"image\",\n      \"fileName\": \"Tab-youtube.jpg\",\n      \"media\": \"http://astraonline.com.br/wp-content/uploads/2023/03/Tab-youtube.jpg\"\n    }\n  }\n}","options":{}},"id":"2d51f6c7-1e73-43dc-864a-7db750d4835c","name":"ENVIAR MENSAGEM COM BOTAO","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1040,720]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"urlBase","value":"https://characteria-codechat.9unoeg.easypanel.host"},{"name":"apiKey","value":"zYzP7ocstxh3Sscefew4FZTCu4ehnM8v4hu"},{"name":"instanceName","value":"CodeChat-Nuntius-dev2"},{"name":"numero","value":"573155054606"},{"name":"Authorization","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbnN0YW5jZU5hbWUiOiJDb2RlQ2hhdC1OdW50aXVzIiwiYXBpTmFtZSI6IndoYXRzYXBwLWFwaSIsInRva2VuSWQiOiIwMUo2WllXNkdIQ1I4WVNHVkIxR1FXTlpSMyIsImlhdCI6MTcyNTUwMTkzOCwiZXhwIjoxNzI1NTAxOTM4LCJzdWIiOiJnLXQifQ.H1NU4YDo03dZzuuYJvUooSdtdKDOOWQosVlFeeGWlVM"}]},"options":{}},"id":"490a5cb9-be9c-41fe-af7c-53c492eef70a","name":"PARAMETROS CODECHAT","type":"n8n-nodes-base.set","typeVersion":1,"position":[660,460]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"PARAMETROS CODECHAT","type":"main","index":0}]]},"CRIAR INSTANCIA":{"main":[[{"node":"CRIAR QR CODE","type":"main","index":0},{"node":"ENVIAR MENSAGEM COM BOTAO","type":"main","index":0}]]},"CRIAR QR CODE":{"main":[[{"node":"CONFIGURA QR CODE","type":"main","index":0}]]},"CONFIGURA QR CODE":{"main":[[{"node":"TRANSFORMA EM IMAGEM","type":"main","index":0}]]},"PARAMETROS CODECHAT":{"main":[[{"node":"CRIAR INSTANCIA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cb1c56fe-69f9-46a2-911f-c3dfddefb3d5","triggerCount":0,"tags":[{"createdAt":"2024-09-05T13:58:55.526Z","updatedAt":"2024-09-05T13:58:55.526Z","id":"4DHGV1JLiEKzooMN","name":"Astra Online"}]}