workflows/Traer por get.json
{"createdAt":"2024-08-22T15:11:59.579Z","updatedAt":"2024-10-20T04:45:43.000Z","id":"ISz4s3Uu8dik75fh","name":"Traer por get","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://pruebas-pri.hycj1k.easypanel.host/chat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"character_id","value":"eFF8HAxAEVRyZ8SQPNg5Mrl26EdecfekXyJ6NxZQJxM"},{"name":"message","value":"estoy en el pc y tu para donde ibas"}]},"options":{}},"id":"ed422129-9926-48b5-ab61-b1aa991dbe5c","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,300]},{"parameters":{"method":"POST","url":"https://pruebas-pri.hycj1k.easypanel.host/chat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"character_id","value":"eFF8HAxAEVRyZ8SQPNg5Mrl26EdecfekXyJ6NxZQJxM"},{"name":"message","value":"=sabes algo sobre: Ubuntu 24.10"}]},"options":{}},"id":"9a1f872e-6014-49b4-aa29-89f2b9ffe6d9","name":"Respuesta Christina","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,440]},{"parameters":{"jsCode":"// Loop over input items and modify text within 'text' field\nfor (const item of $input.all()) {\n  if (item.json[\"text\"]) {\n    // Eliminar cualquier texto entre asteriscos\n    item.json[\"text\"] = item.json[\"text\"].replace(/\\*[^*]*\\*/g, '').replace(/[\\n•*]/g, ' ').replace(/\\s+/g, ' ').trim();\n  }\n}\n\nreturn $input.all();\n"},"id":"96dc5735-2cf1-46d2-a5ee-1c20889b9ca0","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,440]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"b49a01f8-f913-47e6-93fa-baa6edf1b0d4","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[1120,440],"typeVersion":1},{"parameters":{"content":"## CA chistina \n**Doble clic** para editarme. [Servicios](https://nuntius.dev)","height":332,"width":946},"id":"a0fff6d5-12bf-4221-ba17-ebb13e1d67f4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[440,320]},{"parameters":{},"id":"d989eae9-0834-4d6f-85a7-e1b9c2196ccb","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[500,280]},{"parameters":{"path":"respuestas","responseMode":"responseNode","options":{}},"id":"ff5c505c-f60e-4b96-8e91-4d7aa155bc55","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[500,460],"webhookId":"08d5cdfe-8016-425b-bd46-67d7e7725a7b"}],"connections":{"Respuesta Christina":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Respuesta Christina","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respuesta Christina","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"70081987-5e5f-4bb9-b544-c856504d8dd2","triggerCount":1,"tags":[]}