workflows-old/Chatwoot Pausa Despausa Colombia.json
{"createdAt":"2024-07-23T21:15:32.896Z","updatedAt":"2024-07-25T16:47:14.000Z","id":"0i82KhqRWyaEFekN","name":"Chatwoot Pausa Despausa Colombia","active":true,"nodes":[{"parameters":{"values":{"string":[{"name":"statustypebot","value":"={{ $('Webhook').item.json[\"body\"][\"custom_attributes\"][\"status_typebot\"] }}"},{"name":"numerowhats","value":"={{ $('Webhook').item.json[\"body\"][\"identifier\"] }}"},{"name":"urlapievolution","value":"https://api.witmovil.com"},{"name":"keyevolution","value":"evy6kxp7y5nmnwaa28lu"},{"name":"sessaoevolution","value":"NuntiusChile"}]},"options":{}},"id":"eabe1369-2bd7-4406-a38b-7958fab819c1","name":"Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[20,600]},{"parameters":{"dataType":"string","value1":"={{ $('Webhook').item.json[\"body\"][\"custom_attributes\"][\"status_typebot\"] }}","rules":{"rules":[{"value2":"Desligado"},{"value2":"Ligado","output":1}]}},"id":"52630755-302d-462e-82d9-e49b192a63a7","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[200,600]},{"parameters":{"method":"POST","url":"={{ $('Info').item.json[\"urlapievolution\"] }}/typebot/changeStatus/{{ $('Info').item.json[\"sessaoevolution\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info').item.json[\"keyevolution\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"remoteJid\": \"{{ $('Info').item.json[\"numerowhats\"] }}\",\n    \"status\": \"paused\"\n}","options":{}},"id":"208281cb-32c1-446f-bcb6-fa2b437594ff","name":"Pausa","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,460]},{"parameters":{"method":"POST","url":"={{ $('Info').item.json[\"urlapievolution\"] }}/typebot/changeStatus/{{ $('Info').item.json[\"sessaoevolution\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info').item.json[\"keyevolution\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"remoteJid\": \"{{ $('Info').item.json[\"numerowhats\"] }}\",\n    \"status\": \"closed\"\n}","options":{}},"id":"2dcf36d1-4919-489f-af41-ab842d5be04d","name":"Inicia","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,680]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.changed_attributes[1].custom_attributes }}","operation":"isNotEmpty"}]}},"id":"9fba85fc-278b-4f08-a9a2-de59e3cddc35","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-200,620]},{"parameters":{"httpMethod":"POST","path":"ab66bf29-087d-49d7-8274-bc1acc0808f1","options":{}},"id":"b50c0ba6-d2fe-4679-960c-0732d03d0ac4","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-420,620],"webhookId":"ab66bf29-087d-49d7-8274-bc1acc0808f1"}],"connections":{"Info":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Pausa","type":"main","index":0}],[{"node":"Inicia","type":"main","index":0}]]},"IF":{"main":[[{"node":"Info","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"da202770-4151-4e39-9dfa-e0d86c9b77fc","triggerCount":1,"tags":[]}